<%= form_with(model: @assessment, class: "mb-7") do |form| %>
  <div class="mb-5">
    <%= form.text_field :title, placeholder: "title...", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
    <%= form.text_field :description, placeholder: "description...", class: "inline-block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-96" %>
    <%= form.submit "Save", class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:border-indigo-500" %>
    <%= link_to "Back", assessments_path,
      class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:border-indigo-500"
    %>
  </div>
<% end %>